.stages {
  padding-top: 2em;

  .stage {
    border: 1px solid silver;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    padding: 5px;

    width: 200px;

    h1 {
      margin: 0;
      font-size: 18px;
      line-height: 18px;
    }
  }

  .stage.new {
  }
}
